
.profileImage{
    width: 40px;
    height: 35px;
    border-radius: 50%;
}

.colorMain-background .btn .btn-secondary{
    border: none;
}
.right-icons{
    float: right;
}
.icons{
    float: left;
    width: 19px;
    margin-top: 11px;
}
.nav-icon-btn{
    cursor: pointer;
    height: 30px;
    width:20px;
    margin-right:5%;
}
.nav-icon-btn:hover {

}
.dropdown{
    width: 90px;
    float: right;
}
.nav-bar-link a{
    color:#242323;
}
.nav-bar-link a:hover {
    color: rgb(0, 188, 212);
    text-decoration: none;
}
.underline {
    text-decoration: none !important;
}
.underline:hover {
    cursor: pointer;
    color:#00bcd4;
}