
.profileImage{
    width: 40px;
    height: 35px;
    border-radius: 50%;
}

.colorMain-background .btn .btn-secondary{
    border: none;
}
.right-icons{
    float: right;
}
.icons{
    float: left;
    width: 19px;
    margin-top: 11px;
}
.nav-icon-btn{
    cursor: pointer;
    height: 30px;
    width:20px;
    margin-right:1%;
}
.nav-icon-btn:hover {

}
.dropdown{
    width: 90px;
    float: right;
}