.main-wrapper{
    background: #eef1f7;
    height: calc(100vh - 115px);

}
.login{
    position: relative;
    margin: 0 auto;
}
.login-content {
    margin: 0 auto;
    position: relative;
    width: 540px;
    top: 150px;
    right: 0;
    left: 0;
}

.tender-content {
    width: 98%;
}

.login-logo {
    text-align: left;
    margin-bottom: 15px;
    font-size: large;
}
.login-form {
    background: #ffffff;
    padding: 20px 30px 20px;
    border-radius: 10px;
    -webkit-box-shadow:0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow:0 0 50px rgba(0, 0, 0, 0.1);
}

.fa-socialBtn {
    padding: 2%;
    width: 100%;
    margin: 5px 2px;
    text-align: center;
}

.fa-socialBtn:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    padding-right:5px;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.smallImage{
    width:30%;
    height:20%;
}