body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#eef1f7 ;
}
.btnAll{
  background-color: #00bcd4;
  color:white;
}
.color-white {
  color:white
}
.colorText{
  color:#2b333e;
}
.colorMain-background{
  background-color:#00bcd4 !important;
  border: none;
}

a :active{
  background-color: #00bcd4 !important;
}
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #00bcd4 !important;
}
.spinner {
  position: fixed;
  height: 8%;
  width: 4%;
  top:45%;
  left:48%;
  z-index:99999;
}
.spinner body {
  opacity: 0.5;
}
.spinner-container {
  position: fixed;
  z-index: 9999;
  background-color:rgba(0,0,0,0.2);
  height: 100%;
  width: 100%;
}
.logo-sidebar{
  height: 70px;
  width: 60px;
}